.exchange-control {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20% 15%;
    display: flex;
    flex-direction: column;
}
.exchange-control__row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}
.exchange-control__currency,
.exchange-control__value {
    font-size: 34px;
}
.exchange-control__currency {
    flex-shrink: 0;
}
.exchange-control__balance,
.exchange-control__rate {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}
.exchange-control__balance {
    animation-name: highlight;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes highlight {
    0% {
        color: rgba(255, 255, 255, 0.6);
    }
    30% {
        color: white;
    }
    100% {
        color: rgba(255, 255, 255, 0.6);
    }
}
