.button {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    height: 24px;
    font-size: 14px;
    cursor: pointer;
    transition: color .15s;
}
.button[disabled] {
    color: rgba(255, 255, 255, 0.6);
    cursor: default;
}
.button:not([disabled]):active {
    color: rgba(255, 255, 255, 0.9);
}
