.screen {
    background-color: #2870fa;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.screen__head {
    box-sizing: border-box;
    padding: 4px 0;
    flex-basis: 34px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.screen__body {
    height: calc(100% - 34px);
    position: relative;
    z-index: 1;
}
