.exchange-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.exchange-screen__top {
    flex-basis: 50%;
}
.exchange-screen__bottom {
    flex-basis: 50%;
    position: relative;
}
.exchange-screen__bottom::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    clip-path: polygon(
        0% 0%,
        46% 0%,
        50% 5%,
        54% 0%,
        100% 00%,
        100% 100%,
        0% 100%
    );
}
