.viewport {
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewport__content {
    box-shadow: 0 0 100px -30px grey;
}
