.currency-input {

}
.currency-input input {
    color: white;
    background-color: transparent;
    border: none;
    font-size: inherit;
    text-align: right;
    width: 100%;
    outline: none;
}
