.slider {
    --slider-slide-number: 0;

    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.slider__slides {
    --slider-drag-offset: 0;

    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    min-height: 100%;
    transform: translate(calc(var(--slider-slide-number) * -100% + var(--slider-drag-offset) * 1px));
    transition: transform .1s
}
.slider__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: grab;
}
.slider__dots {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.slider__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 0 3px;
    opacity: 0.4;
    transition: opacity .1s;
}
.slider__dot_active {
    opacity: 1;
}
